.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.usermeta {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.status {
  font-size: 90%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editBtn
.editBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}
